

body: 
{
     background-image:url(/img/bg.jpg);
     background-repeat: repeat;
     background-attachment: fixed;
     font-family: Gill Sans, Arial, sans-serif;
}

article, aside, figcaption, figure, footer, header, hgroup, nav, section {
     display: block;
     font-family:Gill Sans, century gothic, sans-serif
}



#wrapper {
width:980px;
margin-left:auto;
margin-right:auto;
border: solid 16px #ccccff;

}


header {
     width: auto;
     padding:10px;
     background: #ccccff 
     
}

nav {
width:160px;
padding:10px;
float:left;
background-image:url(img/bg.jpg);
padding-left:20px;
}

article {
width:720px;
margin-left:210px;
padding-right:10px;
padding-bottom:15px;
}

footer {
padding:10px 10px 10px;
width:940px;
text-align:center;
color:#666666;
border-top: dotted 3px;
}

footer p {
text-align:center;
text-decoration-color: #ccccff
}


h1, h2, h3, h4, h5, h6 {
color: #666666;
font-family:Gill Sans, Arial, sans-serif;
}

h1 {
margin:10
    px;
}

h2 {
font-size:30px;
}

h3 {
font-size:25px;
}

/*Paragraph Styles*/

p{
text-align:justify;
text-indent:0px;
}

/*Link Styles*/

a {
text-decoration:none;
}

a:link {
color:#666666;
}

a:visited {
color:#B2B2B2;
}

a:hover {
color:#E0FFB2;
text-decoration:underline;
}

a:active {
color:purple;
}

a:focus {
color:#ccccff;
}




nav ul {
margin:0;
padding:0;
}

nav li {
list-style-type:none;
margin:10px 10px 10px 10px;
}

nav a:link, nav a:visited {
font-size:24px;
background-color: #ccccff;
color:#666666;
border: solid 5px #fff;
width:130px;
display:block;
text-align:center;
height:32px;
padding-top:3px;
}

nav a:hover {
text-decoration:none;
background:#666666;
color: white;
}


footer ul {
margin:0;
padding:0;
}

footer li {
list-style-type:none;
display:inline;
padding:0 15px;
border-left:solid black 1px;
}

.last {
border-right:solid black 1px;
}

.first {
border-left:none;
}


/*Image Styles*/

figure {
     padding:0px;
     margin:0px;
}

figcaption {
     color:black;
     font-style:italic;
     font-size:10px;
}

img {
     border-style:solid;
     border-color:black;
     border-width:0px;
}

.left {
     float:left;
     margin-right:10px;
     margin-bottom:10px;
}

.right{
     float:right;
     margin-left:10px;
     margin-bottom:10px;
}

